.header__container{
    width: 100%;
    padding: 3rem 6rem;
}
.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.header-left h1{
    font-size: 5rem;
    line-height: 6rem;
    font-family: var(--font-family);
    background:var(--gradient-text);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-weight: 800;
}
.header-left p{
    font-size: 1.2rem;
    font-family: var(--font-family);
    color: var(--color-text);
    margin-top: 1rem;
}
.input-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.input-container input {
    flex: 1;
    height: 50px;
    background-color: #052D56;
    border: none;
    padding: 2rem 3rem;
    font-family: var(--font-family);
    font-size: 1rem;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
}

.input-container input:focus {
    border: none;
    outline: none;
}

.input-container button {
    background-color: #FF4820;
    border: none;
    padding: 1.2rem 2rem;
    font-family: var(--font-family);
    font-size: 1rem; 
    font-weight: 700;
    color: white;
    text-align: center;
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px;
    cursor: pointer;
    white-space: nowrap;
}

.people{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}
.header-right{
    display: flex;
    align-items: center;

}
.header-right img{
    width:600px;
    height:600px;
    margin-right: 1rem;
}
@media screen and (max-width: 425px){
    .header-right img{
        width:300px;
        height:300px;
    }
    .header__container{
        width: 100%;
        padding: 2rem 2rem;
    }
    .header-left h1{
        font-size: 3rem;
        line-height: 4rem;
    }
    .header-left p{
        font-size: 1rem;
    }
    .input-container input {
        padding: 1rem 2rem;
        font-size: .6rem;

    }

    .input-container button {
        padding: 1rem 1.5rem;
        font-size: .7rem;
    }
    
    .people{
        flex-direction: column;
        text-align: center;
    }
    .people img{
        margin-top: 1rem;
    }
}
@media screen and (max-width: 1024px){
    .header__content{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .header-left h1{
        font-size: 3rem;
        line-height: 4rem;
    }
}