.gpt-container{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    background: var(--color-footer);
    color: white;
    font-family: var(--font-family);
    padding: 3rem 6rem;
    margin:3rem 6rem;
    background: var(--color-footer);

    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.top-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-container p{
    width: 40%;
    color: var(--color-text);
}

.middle-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.middle-container h1{
    background:var(--gradient-text);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-weight: 800;
}
.bottom-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-box{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.content-box h1{
    background:var(--gradient-text);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-weight: 800;
    

}
@media screen and (max-width: 768px){
    .gpt-container{
        padding: 3rem 2rem;
    }
    .top-container{
        flex-wrap: wrap;
        gap: 1rem;
        align-content: center;
    }
    .top-container p{
        width: 100%;
    }

    .middle-container h1{
        font-size: 1.2rem;
    }
    .bottom-container{
        flex-wrap: wrap;
    }
    .content-box{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    
}
@media screen and (max-width: 425px){
    .gpt-container{
        padding: 3rem 1rem;
        margin:3rem 2rem;
    }
    .top-container{
        flex-wrap: wrap;
        gap: 1rem;
        align-content: center;
    }
    .top-container p{
        width: 100%;
    }

    .middle-container h1{
        font-size: 1.2rem;
    }
    .bottom-container{
        flex-wrap: wrap;
    }
    .content-box{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    
}